<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<head>
    <meta charset="UTF-8">
    <title>ML Microservice</title>
</head>
<body>
    Machine Learning Test 

   <body>
        <form action = "http://localhost:5004/uploader" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "File" />
            <input type = "submit" value = "Submit" />
        </form>  
   </body>

</html>
</body>
</html>